### docker-compose.yml
version: '3.9'

services:
  api-gateway:
    build:
      context: ./api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - llm-proxy
      - detector
      - logger

  llm-proxy:
    build:
      context: ./llm-proxy
    ports:
      - "8001:8001"
    depends_on:
      - detector
      - logger

  detector:
    build:
      context: ./detector
    ports:
      - "8002:8002"

  logger:
    build:
      context: ./logger
    ports:
      - "8003:8003"
    volumes:
      - shared-logs:/app/logs

  threat-dashboard:
    build:
      context: ./threat-dashboard
    ports:
      - "8501:8501"
    volumes:
      - shared-logs:/app/logs
    depends_on:
      - logger

volumes:
  shared-logs:
