replicaCount: 1
image:
  repository: abdel124/logger
  tag: main
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8003
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
volume:
  mountPath: /app/logs
  claimName: logger-pvc
