replicaCount: 1
image:
  repository: llm-proxy
  tag: local
  pullPolicy: IfNotPresent
env:
  OPENAI_API_KEY: "your-api-key"
service:
  type: ClusterIP
  port: 8001
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
llm-proxy:
  image:
    repository: "null"
    tag: mainss
    pullPolicy: "null"
