replicaCount: 1
image:
  repository: abdel124/llm-proxy
  tag: main
  pullPolicy: IfNotPresent
env:
  OPENAI_API_KEY: "your-api-key"
service:
  type: ClusterIP
  port: 8001
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
