replicaCount: 1

image:
  repository: detector
  tag: local
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8002

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
