apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "logger.fullname" . }}
  labels:
    app: {{ include "logger.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "logger.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "logger.name" . }}
    spec:
      containers:
        - name: logger
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          volumeMounts:
            - name: log-volume
              mountPath: {{ .Values.volume.mountPath }}
      volumes:
        - name: log-volume
          persistentVolumeClaim:
            claimName: {{ .Values.volume.claimName }}
