replicaCount: 1

image:
  repository: api-gateway
  tag: local
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  JWT_SECRET: serverless