name: Build & Push Docker Images per Environment

on:
  push:
    branches:
      - dev
      - main

env:
  REGISTRY: docker.io
  IMAGE_PREFIX: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      packages: 'write'
      actions: 'read'
    strategy:
      matrix:
        service: [api-gateway, llm-proxy, detector, logger, threat-dashboard]

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.VERSION_BUMPER_APPID }}
          private-key: ${{ secrets.VERSION_BUMPER_SECRET }}

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # pulls all history and tags for Lerna to detect which packages changed
          token: ${{ steps.app-token.outputs.token }}

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${{ github.ref_name }}
          docker build -t $REGISTRY/$IMAGE_PREFIX/${{ matrix.service }}:$IMAGE_TAG ./${{ matrix.service }}
          docker push $REGISTRY/$IMAGE_PREFIX/${{ matrix.service }}:$IMAGE_TAG


      - name: Update Helm values file
        run: |
          ENV_FILE=helm/${{ matrix.service }}/values.yaml
          SERVICE=${{ matrix.service }}
          IMAGE_TAG=${{ github.ref_name }}
          echo "Updating $SERVICE tag in $ENV_FILE to $IMAGE_TAG"
          yq eval ".\"$SERVICE\".image.tag = \"$IMAGE_TAG\"" -i $ENV_FILE

      - name: Commit & Push Helm Value Change
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          git config user.name "llm-devops-bot"
          git config user.email "llm-bot@aithreat.dev"

          git add helm/logger/values.yaml
          git commit -m "Update logger image tag to ${{ github.ref_name }}" || echo "No changes to commit"

          git push https://x-access-token:${GH_PAT}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
          
      - name: Commit updated Helm values
        uses: stefanzweifel/git-auto-commit-action@v5
        with:

          commit_message: "Update ${{ matrix.service }} image tag to ${{ github.ref_name }}"
          branch: ${{ github.ref_name }}
          file_pattern: "helm/${{ matrix.service }}/values.yaml"
