name: Build & Push Docker Images per Environment

on:
  push:
    branches:
      - dev
      - main

env:
  REGISTRY: docker.io
  IMAGE_PREFIX: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      packages: 'write'
      actions: 'read'
    strategy:
      matrix:
        service: [api-gateway, llm-proxy, detector, logger, threat-dashboard]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${{ github.ref_name }}
          docker build -t $REGISTRY/$IMAGE_PREFIX/${{ matrix.service }}:$IMAGE_TAG ./${{ matrix.service }}
          docker push $REGISTRY/$IMAGE_PREFIX/${{ matrix.service }}:$IMAGE_TAG

      - name: Update image tag in Helm values
        run: |
          FILE="helm/${{ matrix.service }}/values.yaml"
          yq e '.image.tag = strenv(NEW_TAG)' -i "$FILE"
        env:
          NEW_TAG: ${{ github.ref_name }}

      - name: Commit and Push Helm Changes
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          git config user.name "llm-devops-bot"
          git config user.email "llm-bot@aithreat.dev"
          git add helm/${{ matrix.service }}/values.yaml
          git commit -m "Update ${{ matrix.service }} image tag to ${{ github.ref_name }}" || echo "No changes."
          git pull origin ${{ github.ref_name }} --rebase
          git push https://x-access-token:${GH_PAT}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
